{% extends 'base.html.twig' %}

{% block title %}Upload
{% endblock %}

{% block body %}
	<div class="card-body">
		<h3 class="text text-warning text-center">
			<span class="text text-primary fa fa-globe"></span>
			{{ upload.uploadName }}
			Palindrome</h3>

		<table class="table table-responsive ">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ upload.id }}</td>
				</tr>
				<tr>
					<th>Upload Name</th>
					<td>{{ upload.uploadName }}</td>
				</tr>

				<td>
					<i class="fa fa-file-text-o fa-4x text-success" aria-hidden="true"></i>
					<span>{{ asset('uploads/upload_textfiles/' ~ upload.uploadFile) }}</span>
				</td>
				<tr>
					<th>Palindrome</th>
					<td>{{upload.palindrome| json_encode() }}</td>
				</tr>

				<tr>
					<th>Palindrome Count</th>
					<td>{{ upload.palindromeCount }}</td>
				</tr>

			</tbody>
		</table>
		<div class="form-group">
			<a class="btn btn-info pull-left" href="{{ path('upload_index') }}">back to list</a>

			<a class="btn btn-warning pull-right" href="{{ path('upload_edit', {'id': upload.id}) }}">edit</a>
		</div>
		<br>
		<div class="form-group  mt-5">
			{{ include('upload/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
